#bg-matrix {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    background-color: var(--color-bg-0);
    mix-blend-mode: screen;
    filter: saturate(1.1) contrast(1.098);
}
